<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" href="index.html">
        <img src="images/logo-dark.png" height="24" alt="">
        <%= image_tag 'easyemploi-removebg-preview.png', :height => "110" %>
      </a>
    </div>
    <% if user_signed_in? %>

      <div class="buy-button">
        <%= link_to 'Profil', user_path(current_user.id), :class => "btn btn-primary" %>
      </div><!--end login button-->
      <div class="buy-button">
        <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, :class => "btn btn-primary" %>
      </div><!--end login button-->
    <% else %>


    <div class="buy-button">
      <%= link_to 'Espace client', new_user_session_path, :class => "btn btn-primary" %>
    </div><!--end login button-->
    <% end %>
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li><%= link_to 'Accueil', root_path %></li>
        <li><%= link_to 'Abonnement', new_subscriber_path %></li>

      </ul><!--end navigation menu-->
      <div class="buy-menu-btn d-none">
        <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Buy Now</a>
      </div><!--end login button-->
    </div><!--end navigation-->
  </div><!--end container-->
</header><!--end header-->